h1 {
    padding: 40px;
    text-align: center;
    background: #210263;
    color: lightgrey;
    font-size: 30px;
}

h3 {
    padding: 10px;
    text-align: center;
    background: rgb(149, 149, 213);
    color: darkblue;
    font-size: 20px;
}