h1 {
    padding: 40px;
    text-align: center;
    background: #24292f;
    color: whitesmoke;
    font-size: 30px;
}

h3 {
    padding: 10px;
    text-align: center;
    background:#637181;
    color: whitesmoke;
    font-size: 20px;
}